<h1>Observable Static Methods - Part 2</h1>

<p>
  Below is the result of many Observable static methods in the rxJS suite. These methods
  will all generate some initial stream.
</p>

<h4>BindCallback Method</h4>
<p>
  {{bindCallbackProperty}}
</p>

<h4>CombineLatest Method</h4>
<p>
  {{combineLatestProperty}}
</p>

<h4>Defer Method</h4>
<p>
  Defer output 1: {{deferOneProperty}} <br />
  Defer output 2: {{deferTwoProperty}} <br />
  Defer output 3: {{deferThreeProperty}} <br />
  Defer output 4: {{deferFourProperty}} <br />
</p>

<h4>Empty Method</h4>
<p>
  {{emptyProperty}}
</p>

<h4>From Method</h4>
<p>
  {{fromProperty}}
</p>

<h4>FromEvent Method</h4>
<p>
  {{fromEventProperty}}
</p>

<h4>FromPromise Method</h4>
<p>
  {{fromPromiseProperty}}
</p>

<h4>Zip Method (With formatting)</h4>
<p>
  {{zipWithFormatProperty}}
</p>

<h4>Zip Method (default array)</h4>
<p>
  {{zipDefaultProperty}}
</p>